################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HackCuccos/obj
/HackCuccos/bin/Debug/net8.0-windows
/.vs/HackCuccos
